<plugin name='typescript' version='0.3' grailsVersion='2.2 &gt; *'>
  <author>Dima Ovcharenko</author>
  <authorEmail>o.snich@gmail.com</authorEmail>
  <title>Typescript Plugin</title>
  <description>This plugin can help you manage typescript code in your grails application.
</description>
  <documentation>http://grails.org/plugin/typescript</documentation>
  <type>TypescriptGrailsPlugin</type>
  <resources>
    <resource>org.grails.plugin.typescriptresources.TypeScriptResourceMapper</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements>
    <plugin name='resources' version='1.0 &gt; *' />
  </runtimePluginRequirements>
  <behavior />
</plugin>